h1,h2,h3,h4,h5,h6,
.entry-title,
.main-navigation {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  text-transform: uppercase;
}

.main-navigation .primary-menu > li {
  margin: 0 0.875em;
}
.main-navigation a {
  font-size: 40%;
  color: $white;
  letter-spacing: 0.1rem;
  padding: 0.65625em 0;
}

header{
  .main-navigation a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $white;
    content: "";
    transition: width 0.2s;
  }
}

.main-navigation li:hover > a,
.main-navigation li.focus > a,
.main-navigation > a:hover,
.main-navigation li.current_page_item a {
  color: $white;
}
.main-navigation .menu-item-has-children > a {
  padding-right: 0;
}

.main-navigation .menu-item-has-children > a:after {
  content: none;
  background-color: transparent;
}

.main-navigation ul ul a,
.main-navigation li.current_page_item ul a,
.main-navigation ul ul a:hover {
  color: $text-dark;
}

.main-navigation .menu-item-has-children .sub-menu a:hover:after{
  background-color: transparent;
}

.main-navigation .current-menu-item a:after,
.main-navigation a:hover:after,
.main-navigation a:active:after  {
  width:100%;
}


@media screen and (max-width: ($max-medium)){
  .menu-toggle {
    display: none;
  }
}

/* -----------------------------------------------------------------------------

  ShiftNav

----------------------------------------------------------------------------- */
.shiftnav {
  &:after {
    box-shadow: 0 0 15px rgba(0,0,0,0.2)!important;
  }
}

