#74877F#74877Fbody, button, input, select, textarea {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #43464B;
}

h1,h2,h3,h4,h5,h6,
.entry-title,
.main-navigation {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  text-transform: uppercase;
}

.main-navigation .primary-menu > li {
  margin: 0 0.875em;
}
.main-navigation a {
  font-size: 0.9rem;
  color: #43464B;
  padding: 0.65625em 0;
}

.main-navigation a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: $grey-blue;
  content: "";
  transition: width 0.2s;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a,
.main-navigation > a:hover,
.main-navigation li.current_page_item a {
  color: $grey-blue;
}
.main-navigation .menu-item-has-children > a {
  padding-right: 0;
}

.main-navigation .menu-item-has-children > a:after {
  content: none;
  background-color: transparent;
}

.main-navigation .menu-item-has-children .sub-menu a:hover:after{
  background-color: transparent;
}

.main-navigation a:hover:after {
  width:100%;
}


@media screen and (max-width: ($max-medium)){
  .menu-toggle {
    display: none;
  }
}

/* -----------------------------------------------------------------------------

  ShiftNav

----------------------------------------------------------------------------- */
.shiftnav {
  &:after {
    box-shadow: 0 0 15px rgba(0,0,0,0.2)!important;
  }
  &.shiftnav-skin-light {
    background: #ffffff !important;
    color: $text-dark !important;
  }
}

