body {
  position: relative;
  margin: 0;
  background: $dark-gray;
  .site {
    margin: 0;
  }
  .site-inner {
    width: 100%;
    max-width: 100%;
    // min-height: 200px;
  }
}

h1,h2,h3,h4,h5,h6 { color: $text-dark;}

h1.entry-title {
  font-size: $h1;
}

a { color: $foggy-day; }

.site-header {
  background-color: $dark-gray;
  font-size: 2rem;
  text-align: center;
  padding: 0;
}

ul { list-style: square; }

.site-main {
  margin-bottom: 0;
}

/**********************
 * Home Page
 **********************/

.home {
  header{ position: relative; }
  h6 { 
    text-align: center;
    font-size: 1.5rem; 
    line-height: 1.55;
    margin: 0 auto;
  }
  .header-image {
    position: relative;
    overflow: hidden;
    margin: 0;
    img {
      text-indent: -9999px;
    }
    .corner-bottom-left{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 200vh 0 0 200vh;
      border-color: transparent transparent transparent rgba($temple-star, .65);
    }
    .corner-top-left{
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100vh 100vh 0 0;
      opacity: 0;
      border-color: rgba($water-scope, .65) transparent transparent;
    }
    .corner-top-right{
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      opacity: 0;
      border-style: solid;
      border-width: 0 150vh 150vh 0;
      border-color: transparent rgba($foxy, .65) transparent transparent;
    }
    .corner-bottom-right{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100vh 100vh;
      border-color: transparent transparent rgba($sw,.65);
    }
  }

  #main {
    @include outer-container;
    padding: 0 25px;
    margin-bottom: 0;
    .entry-header {
      display: none;
    }

    h1 {
      text-align: center;
    }
  }
}

section.contact{
  background-color: #d66253;
  min-height: 100px;
  width: 100%;
  padding: 25px 0;

  button {
    margin: 0 auto;
    display: block;
    background-color: #BB4030;
    color: #fff;
    outline:none;
  }
}

/**********************
* Interior Page
**********************/
.single-post{
  #main{
    @include outer-container;
    padding-top: 25px;
    section {
      @include span-columns(6);
    }
    aside {
      @include span-columns(3);
    }
  }

  .post-navigation {
    position: relative;
    width: 100%;
    margin: 0 auto;
    float: left;
    border-top: 1px solid $text-dark;
    border-bottom: 1px solid $text-dark;
    span { display: inline; }
    a { padding: 0.85em 0; }
    .nav-previous,
    .nav-next{
      float:left;
      width: 50%;
    }
    .nav-next {
      text-align: right;
      padding-right: 35px;
    }
    .nav-previous {
      padding-left: 35px;
    }
    div + div {
      border: none;
    }
    .meta-nav {
      text-indent: -9999px;
      text-indent:  9999px;
    }
  }
}

body.page {
  #content{
    padding: 45px;
  }
  .content {
    @include span-columns(12);
    @include clearfix;
  }
  &.no-sidebar .entry-header{
    margin: 0;
  }
  .entry-content{
    .content-left {
      @include span-columns(3);
    }
    .content-right {
      @include span-columns(7);
      @include omega();
    }
  }
}

body.no-sidebar{
  article:not(.type-page) .entry-content {
    &.custom {
      @include span-columns(8);
      @include clearfix;
    }
  }
}

body.page-template-archive{
  #content{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    padding-top: 5px;
  }
  .post{
    padding-right: 10px;
  }
  .entry {
    img {
      width: 250px;
    }
  }
  h2{
    font-size: $h1;
    padding: 10px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    a {
      color: $text-dark;
    }
  }
}

.post-hand-rendered-drawings {
  .tile {
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.page-contact {
  main {
    @include span-columns(3);
  }
  .content-bottom-widgets {
    @include span-columns(5);
  }
}

/**********************
* Social Media
**********************/

.sfsiplus_footerLnk{
  display: none;
}

.home .sfsiplus_norm_row{
  right: 0;
}

/**********************
* Structure
**********************/

.no-sidebar {
  .entry-content {
    margin: 0;
  }
}

/**********************
* Media Queries
**********************/


 @include media($max-small){
  .site-header-main {
    margin: 0 100px;
  }

  .site-header-menu {
    margin: 0.85em 0;
  }

  #main{
    padding: 0;
    section {
      @include span-columns(3.25);
    }
  }
  .site-main > article {
    margin-bottom: 3em;
  }
}

@include media(max-width $max-small){
  #shiftnav-toggle-main a {
    font-size: 1em !important;
  }

  body.page-template-archive{
    .content { @include span-columns(8); }
    .post {
      @include span-columns(8);
    }
  }
}

@include media(min-width $min-large){
  body.page {
    #content{
      @include outer-container;
    }
  }
}

/**********************
* Forms
**********************/
.cfsFieldShell {
  input, textarea {
  box-shadow: none;
  }
}

/**********************
* Hover Effects
**********************/
.ripple {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    background: rgba(255,255,255,0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1s;
  }

  &:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
  }

}

/**********************
* Animations
**********************/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
 0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
 0% {
        opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}