body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h4 { 
  font-size: 1em; 
}

header.entry-header {
  text-align: left;
  margin: 0;
}

body, button, select, textarea {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: $text-dark;
}

input {
  font-family: $heading-font-family;
}

.post-navigation .post-title { 
  font-family: $heading-font-family; 
  text-transform: uppercase;
  font-size: 1em;
}

.post-navigation a:hover .post-title, 
.post-navigation a:focus .post-title {
  color: $foggy-day;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.entry-title a:hover,
.entry-title a:focus{
  color: #000;
}